.container {
  width: 1440px;
  padding-top: 50px;
  /* padding: 50px 128px; */
  margin: 0 auto;
}

.catalog {
  display: flex;
  padding: 0 128px;
  flex-wrap: wrap;
  width: auto;
  gap: 29px;
}

.loadMoreButton {
  color: #3470ff;
  background: inherit;
  border: none;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  margin: 50px auto 50px;
  text-decoration-line: underline;
}

.loadMoreButton:hover,
.loadMoreButton:focus {
  color: #0b44cd;
}