.filter {
  display: flex;
  flex-direction: row;
  /* margin: 0 auto; */
  justify-content: center;
}

.select {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 20px;
  width: 117px;
  background: #F7F7FB;
  border-color: white;
  border-radius: 14px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

input {
  height: 20px;
  width: 117px;
}