.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 150px 20px;
  margin: 0 auto;
  background-image: url(https://res.cloudinary.com/dzrstab0k/image/upload/v1697056703/CarRent/10best-cars-group-cropped-1542126037_1_uw7hbf.jpg);
  background-size: cover;
}