.infoBlock {
  height: 72px;
  width: 274px;
}

.title {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.model {
  color: #3470FF;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.image {
  height: 268px;
  width: 274px;
  background-color: bisque;
}

.img {
  border-radius: 12px;
  object-fit: cover;
  overflow: hidden;
  width: 274px;
  height: 268px;
  margin-bottom: 14px;
}