.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.3);
  padding: 5px;
  width: 600px;
  height: 300px;
  position: relative;
  top: 10px;
  left: 130px;
  border-radius: 20px;
  box-shadow: rgba(240, 244, 247, 0.5) 0px 1px 2px 0px, rgba(240, 244, 247, 0.5) 0px 2px 6px 2px;
}


.descriptionText {
  color: #fff;
  margin-bottom: 5px;
}