.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 160px;
  background-color: #abc;
}

.sidebarLogo {
  display: grid;
  place-items: center;
  height: 120px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #3470ff;
}

.sidebarMenu {
  position: relative;
}

.sidebarList {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebarLi {
  display: flex;
  justify-content: center;
  color: #3470ff;
}

.sidebarMenuItem {
  display: flex;
  align-items: center;
  place-content: flex-start;
  font-size: 1.25rem;
  font-weight: 500;
}

.sidebarMenuItem.active {
  color: #fff;
}

.sidebarLink {
  width: 120px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  transition: all .5s cubic-bezier(.22, .61, .36, 1);
}

.sidebarLink:hover {
  background-color: #3470ff;
  color: #fff;
  transition: all .5s cubic-bezier(.22, .61, .36, 1);
}



.sidebarMenuItemIcon {
  margin-right: 1rem;
}